<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>최기연의 웹페이지</title>
    <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>

    <link href="{% static 'single_pages/css/landing.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% include 'blog/navbar.html' %}
<section>
    <div class="container">
        <div class="row justify-content-between mt-4">
            <div class="col-lg-6 text-dark card mb-lg-5 pt-lg-5 mt-lg-5">
                <div class="card-body">
                    <h3>최기연의 블로그 메인페이지 입니다. </h3>
                    </br>
                    <p>저와 함께 공부하면서 성장해 봐요.</br> 저의 공부기록들이 여러분들에게 작은 도움이라도 되었으면 </br>좋겠습니다:)</p>
                </div>
            </div>
            <div class="col-lg-5">
                <h2 class="text-light">Blog - Recent posts</h2>

                {% for post in recent_posts %}
                <div class="card mt-1">
                    <div class="card-body">
                        <h6><a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark">{{ post.title }}</a></h6>

                        <span class="badge badge-pill badge-light float-right">
                                <img class="mr-1 rounded-circle" width="20px" src="{{ post.get_avatar_url }}"
                                     alt="{{ post.author }}">
                                {{ post.author.username }}
                                &nbsp;&nbsp;
                                {{ post.created_at }}
                            </span>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</section>

<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>